// 다른 파일에 있는 내용 가져오고 싶을 때 @use '파일경로';
// CSS 기본 문법에서도 사용 가능함.
// 다른 파일에 종속되는 파일은 굳이 reset.css로 컴파일 될 필요 없기 때문에
// 컴파일되지 않게 앞에 언더바를 붙인다.
@use 'reset';

// 1. 어려운 단어 기억해야 할 때 & 규칙적인 스탕리 만들 때 => 변수 문법 사용
// 2. 관련있는 class들 묶을 때 => nesting syntax (두 개 이상은 중첩 X)
// 3. 긴 코드를 축약 할 때 => @extend 문법
// 4. 긴 코드를 가변적으로 짧은 단어로 축약할 때 => @mixin
// 5. 다른 파일에 있는 내용 가져오고 싶을 때 => @import, @use

// CSS 기본 변수 문법 
// 변수 선언
// :root {
  // --main-color : green;
// }
  
// *** 변수 사용
//  color: var(--main-color);

// $변수명 : 저장해서 사용할 값
$main-color : #2a4cb2;
$basic-box : 16px;

.background {
  background-color: $main-color;
}

.box1 {
  // Sass에선 사칙연산 바로 가능(+, -는 같은 단위끼리만 가능)
  // 사칙연산 할 때는 소괄호를 사용하는 게 좋다.

  // CSS 기본 사칙연산 문법
  // cale(40px - 20px)
  width: ($basic-box - 2px);
}

.box2 {
  width: ($basic-box + 2px);
}

// .scss와 .sass 파일의 차이
// .sass 파일은 괄호 생략해도 됨.


// Sass 2편 : 핵심 문법
// *** nesting syntax 

// .main-bg h4 {
//   font-size: $basic-box;
// }

// .main-bg button {
//   color: $main-color;
// }

.main-bg {
  h4 {
    // 다른 파일의 $변수를 사용하려면 => 파일명.$변수명
    // @mixin도 마찬가지 @include 파일명.mixin이름
    color: reset.$primary-color;
    font-size: $basic-box;
  }

  button {
    color: $main-color;
  }
}


// *** @extent syntax
// %임시클래스명(단독으로 컴파일되지 않음) or .클래스명
%btn {
  border: none;
  border-radius: 4px;
  padding : 10px 20px
}

.btn-green {
  @extend %btn;
  color : green;
}

.btn-red {
  @extend %btn;
  color: red;
}

.btn-blue {
  @extend %btn;
  color: blue;
}


// Task
%box {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
}

.box-green {
  @extend %box;
  @include reset.border(black);
  background-color: green;
}

.box-red {
  @extend %box;
  background-color: red;
}

.box-blue {
  @extend %box;
  background-color: blue;
}


// Sass 3퍈 : @mixin, use등
// @mixin 문법의 $파라미터 => 긴 코드를 가변적으로 만들 때 사용
@mixin font-style($size, $spacing, $style) {
 font-size: $size; 
 letter-spacing: $spacing;
 // 글자 중간에 $변수나 $파라미터 넣을 땐 #{$변수명  }
 #{$style} : red;
}

h1 {
  @include font-style(38px, -1px, color)
}

h2 {
  @include font-style(24px, -2px, background-color)
}

