.background {
  background-color: #2a4cb2;
}

.box1 {
  width: 14px;
}

.box2 {
  width: 18px;
}

.main-bg h4 {
  font-size: 16px;
}
.main-bg button {
  color: #2a4cb2;
}

.btn-blue, .btn-red, .btn-green {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn-green {
  color: green;
}

.btn-red {
  color: red;
}

.btn-blue {
  color: blue;
}