* {
  margin: 0;
  padding: 0;
}

.background {
  background-color: #2a4cb2;
}

.box1 {
  width: 14px;
}

.box2 {
  width: 18px;
}

.main-bg h4 {
  color: green;
  font-size: 16px;
}
.main-bg button {
  color: #2a4cb2;
}

.btn-blue, .btn-red, .btn-green {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn-green {
  color: green;
}

.btn-red {
  color: red;
}

.btn-blue {
  color: blue;
}

.box-blue, .box-red, .box-green {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
}

.box-green {
  border: 5px solid black;
  background-color: green;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

h1 {
  font-size: 38px;
  letter-spacing: -1px;
  color: red;
}

h2 {
  font-size: 24px;
  letter-spacing: -2px;
  background-color: red;
}