@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot?5den83#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5den83') format('truetype'),
    url('../fonts/icomoon.woff?5den83') format('woff'),
    url('../fonts/icomoon.svg?5den83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-book:before {
  content: "\e909";
}
.ic-deposit:before {
  content: "\e90a";
}
.ic-helpdesk:before {
  content: "\e90b";
}
.ic-withdraw:before {
  content: "\e90c";
}
.ic-list-check:before {
  content: "\e90d";
}
.ic-friend:before {
  content: "\e90e";
}
.ic-event:before {
  content: "\e90f";
}
.ic-holdem:before {
  content: "\e900";
}
.ic-home:before {
  content: "\e901";
}
.ic-sport:before {
  content: "\e902";
}
.ic-minigame-1:before {
  content: "\e903";
}
.ic-minigame-2:before {
  content: "\e904";
}
.ic-powerball:before {
  content: "\e905";
}
.ic-slot:before {
  content: "\e906";
}
.ic-ball:before {
  content: "\e907";
}
.ic-sub:before {
  content: "\e908";
}
.ic-bell:before {
  content: "\e910";
}
.ic-user:before {
  content: "\e911";
}