* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-box-list {
  padding: 50px;
}

.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
}

.delete {
  border: none;
  border-radius: 10px;
  background-color: rgba(203, 8, 8, 0.837);
  color: #fff;
  padding: 10px 20px;
}
