@import '/t/s3/css/base/reset.css';
@import '/t/s3/css/base/color.css';

@import '/t/s3/css/icons.css';

@import '/t/s3/pc/css/notice-section.css';
@import '/t/s3/pc/css/footer.css';


.dark-brown-txt {
  color : var(--tertiary);
}

.circle {
  border-radius: 50%;
  background-color: var(--tertiary);
}

.container {
  display: flex;
  width: 100%;
}

.right-section {
  flex-grow: 1;
}

/* ············ HEADER ············ */
.global-header {
  position:  relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 260px;
  flex-shrink: 0;
  background: var(--white);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.16);
}

.logo {
  width: 214.73px;
  /* height: 99.56px; */
  margin-top: 40px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.gnb {
  width: 220px;
}

.gnb li {
  height: 68px;
  border-radius: 10px;

  a {
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
}

.gnb li:hover,
.gnb li.is-active {
  background-color: var(--primary);
  transition: all 300ms ease-in-out;

  a, i {
    color : var(--white);
  }
}

.gnb > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary);
  line-height: normal;

  i {
    font-size: 32px;
  }

  span {
    margin-left: 20px;
  }
}

.gnb-main-list {
  margin-top: 40px;
}

.gnb-sub-list {
  margin-top: 40px;
  padding: 20px 0;
  border-radius: 30px;
  background-color: var(--secondary);
  overflow: hidden;
}


/* ············ TOP-NOTICE ············ */
main {
  height: 2200px; 
}

.top-notice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px; 
  padding: 0 20px;
  background-color: var(--white);

  div {
    display: flex;
    align-items: center;
  }
}

.top-notice-left {
  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--black);
  }
}

.top-notice-right .exchange {
  display: flex;
  justify-content: space-between;
  width: 188px;
  height: 40px;
  cursor: pointer;
  padding: 4px 8px 6px 25px;
  border-radius: 100px;
  color: var(--white);
  background-color: var(--tertiary);

  p {
    font-size: 20px;
    line-height: 30px;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}

.notice-icons {
  margin-left: 47px;

  div:not(:last-child) {
    margin-right: 30px;
  }

  i {
    cursor: pointer;
    font-size: 32px;
    color: var(--primary);
  }
}

.notice-num-list {
  width: 38px;
  position: relative;
}

.notice-num-list.is-active {
  span {
    position: absolute;
    top: 2px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    overflow: hidden;
    color: var(--white);
    font-size: 8px;
  }
}

.notice-num {
  display: none;
}


/* ············ SLIDE ············ */
.slide-item {
  position: relative;
  width: 100%;
  height: 585px;
  padding-left: 100px;
  background: url('/r/theme/s3/images/slide1.png') lightgray 50% / cover no-repeat;;

  button {
    position: relative;
    margin-top: 95px;
  }
}

.slide-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 344px;
  background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .7) 50%);
}

.slide-txt {
  position: absolute;
  top: 50px;
  left: 100px;
  min-width: 1392px;
}

.slide-item p {
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  mix-blend-mode: hard-light;

  &:nth-child(1) {
    font-size: 40px;
    line-height: 80px;
  }

  &:nth-child(2) {
    font-size: 102px;
    line-height: 102px; 
    letter-spacing: -5.1px;
  }
}

.slide-item button {
  position: absolute;
  bottom: 83px;
  left: 100px;
}

.sm-btn {
  width: 85px;
  height: 38px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
  border-radius: 50px;
}

.lg-btn {
  width: 281px;
  height: 78px;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  line-height: 61px; 
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.25);
}

.dark-brown-btn {
  color: var(--white);
  background: var(--dark-btn);
}

.light-brown-btn {
  color: var(--primary);
  background: var(--secondary);
}

.light-brown-gra-btn {
  color: var(--tertiary);
  background: var(--light-btn);
}


/* ············ MESSENGER ············ */
.messenger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.messenger-icon {
  position: relative;
  width: 60px;
  height: 60px;

  i {
    position: absolute;
    top: 49%;
    left: 49%;
    font-size: 32px;
    transform: translate(-50%, -50%);
    color: var(--secondary);
  }
}