ul {
  padding: 0;
}
ul li {
  list-style: none;
}

.list {
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.list-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.list-item:hover {
  color: dodgerblue;
}
.list-item:last-child {
  border-bottom: none;
}
.list .active {
  background-color: dodgerblue;
}

.alert-green {
  width: 80%;
  margin-top: 20px;
  padding: 16px;
  border-radius: 4px;
  font-weight: 700;
  background-color: #d8ecce;
}
.alert-blue {
  width: 80%;
  margin-top: 20px;
  padding: 16px;
  border-radius: 4px;
  font-weight: 700;
  background-color: #d2e8f5;
}
.alert-yellow {
  width: 80%;
  margin-top: 20px;
  padding: 16px;
  border-radius: 4px;
  font-weight: 700;
  background-color: #fbf6db;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .col-6 {
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #c5bdd2;
  background-color: #dfdbe6;
}
.row .col-4 {
  width: 33.333%;
  box-sizing: border-box;
  border: 1px solid #c5bdd2;
  background-color: #dfdbe6;
}
.row .col-3 {
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #c5bdd2;
  background-color: #dfdbe6;
}