<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Write Page</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="grey-bg">
  <%- include('nav.ejs') %>
  
</body>

</html>
