.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.content-wrap {
  width: 100%;
  text-align: center;
}

.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
}

.input-wrap input {
  width: 300px;
}

.input-wrap button {
  min-width: 80px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  background-color: dodgerblue;
  transition: filter 300ms ease-in-out;
}

.input-wrap button:not(:disabled):hover {
  filter: brightness(1.2);
}

.todo-table {
  position: relative;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 24px;
  background-color: #3a3a3a;
}

.todo-table::after {
  content: '';
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 90%;
  background-color: #575555;
}

.todo-table .no {
  min-width: 80px;
  text-align: center;
}

.todo-table .no {
  color: dodgerblue;
}

.todo-table .content {
  flex-grow: 1;
  padding: 0 20px;
}

.todo-table .table-header {
  position: relative;
  font-weight: 700;
}

.todo-table .table-header::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: #575555;
}

.todo-table .table-header,
.table-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-align: left;
}

