:root {
  --white : #FFFFFF;
  --black : #000000;
  --red : #F40;

  --gray-3 : #333333;
  --gray-6 : #666666;

  --primary : #B58362;
  --secondary :#E4D5B8;
  --tertiary : #492710;

  --notice-back : #D8B99C;
  --background : #eeeeee;

  --light-btn : linear-gradient(180deg, #D8B99C, #EADDCB);
  --dark-btn : linear-gradient(360deg, #D8B99C, #3B211B);
}