body {
  padding: 40px;
}

section {
  margin-bottom: 80px;
}

.line {
  padding: 20px 8px;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

/* ··········· COLOR ··········· */
.color-item {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 3ch;
  border: 1px solid var(--primary);
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.color-name {
  margin-left: 20px;
  font-size: 20px;
  color: var(--black);
}


/* ··········· ICON ··········· */
.icons {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 8px 0;
  }

  li {
    margin: 0 8px;
  }

  i {
    font-size: 32px;
  }
}

.footer-icon-list {
  color: var(--secondary);
}

.messenger-icon {
  position: relative;
  width: 60px;
  height: 60px;

  i {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: var(--secondary);
  }
}


/* ··········· INPUT ··········· */
.input {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: var(--primary);
}

.search-input {
  position: relative;
  width: 440px;
  height: 40px;
  padding: 8px 48px 10px 20px;
  border-radius: 6px;
  border: 0.7px solid var(--white);

  input {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    color: var(--white);
    font-weight: 400;
    line-height: 20px;

    &::placeholder {
      color: var(--white);
    }

    &::-ms-input-placeholder { 
      /* Edge 12 -18 */
      color: var(--white);
    }
  }

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 19.6px;
    color: var(--white);
  }
}


/* ··········· FOOTER ··········· */
.footer-img-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    padding: 0 20px;
  }

  img {
    object-fit: contain;
  }
}

.game-list img {
  height: 36px;
}

.card-list img {
  opacity: .5;
  height: 23px;
}

.select-country {
  display: flex;
  align-items: center;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;

  i {
    margin-right: 10px;
    font-size: 30px;
  }
}