body {
  background-color: #000;
}

.google {
  width: 500px;
  height: 500px;
  padding-top: 140px;
  margin: 0 auto;
  text-align: center;
}

.open-google {
  background-color: #fff;
  padding: 20px;
  font-size: 18px;
  border-radius: 30px;
}
