body {
  color: $txt-main;
  background-color: $main-back;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.content-wrap {
  width: 100%;
  text-align: center;
}

.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 50px;
  margin-top: 20px;

  input {
    width: 300px;
    height: 100%;
    padding: 0 20px;
    border-radius: 24px;
    color: var(--txt-main);
    background-color: #525252;
  }

  button {
    background-color: dodgerblue;
  }
}

.todo-table {
  position: relative;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 24px;
  background-color: #3a3a3a;
}

.todo-table .no {
  min-width: 80px;
  text-align: center;
}

.todo-table .no {
  color: dodgerblue;
}

.table-header {
  // height: 80px;
  font-weight: 700;
}

.table-header .no {
  border-right: 1px solid $border-color;
}

.todo-table .table-header,
.table-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-align: left;
}

.table-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.table-item:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: $border-color;
}

.table-item > div {
  display: flex;
  align-items: center;
}

.todo-table .content {
  flex-grow: 1;
  padding: 0 20px;
}

.delete-btn {
  margin-right: 20px;
  background-color: $delete-btn;
}

